.table-row {
  display: grid;
  grid-template-columns: 70px 1fr 150px 150px;
  padding: 18px;
  border-top: 1px solid #ddd;
  align-items: center;
}

.table-row span {
  color: #222;
}

.table-row:hover {
  background: #f7f7f7;
}